.container {
  display: grid;
  min-height: 100vh;
  padding: 0 0.8rem;
  grid-template-columns: 100%;
  grid-template-rows: 7.5rem auto auto;
}

.header {
  display: flex;
  width: 100%;
  padding-top: 1.5rem;
  justify-content: center;
  align-items: center;
}

.header img {
  width: 60px;
  height: 60px;
  margin-right: 1rem;
  border-radius: 60px;
}

.header h1 {
  display: flex;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
}

.header h2 {
  font-size: 3.4rem;
  text-align: center;
  text-shadow: 0 0 15px var(--content-dark);
}

.header a {
  color: var(--theme-secondary);
  text-shadow: 0 0 15px #9225ff;
}

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .schedule {
  display: grid;
  width: 100%;
  margin: 1.5rem 0;
  padding: 1rem 0;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  column-gap: .7rem;
  background: #252d37;
  border-radius: 1rem;
}

.schedule h3 {
  font-size: 2.4rem;
  text-align: center;
}

.footer {
  display: flex;
  width: 100%;
  padding-bottom: 3rem;
  justify-content: center;
  align-items: center;
}

.footer a {
  padding: .5rem 0;
  border-bottom: .1rem solid var(--content-dark);
}
.footer a:hover {
  color: var(--theme);
  border-bottom: .1rem solid var(--theme-dark);
}

@media screen and (min-width: 960px) {
  .main .schedule {
    width: 85%;
  }
}